body{
    font-size: 30px;
    font-family: 'Courier New';
    color: brown;
}

h1{
    font-family: 'Times New Roman';
}
h2{
    font-family: 'Courier';
}
h3{
    font-family: Arial, Helvetica, sans-serif;
}
